script
	var room_list_data = !{JSON.stringify(data)};
div.gamesList
	div.gameListButtons
		input(type='button',class='bjListButton',id='newBlackjack', value='new game')
		input(type='button',class='bjListButton', id='quickStartBlackjack',value='quick start')
	a(type='button',id='roomsListHide', href='#') >>hide 
	div.gamesListContent