div.welcomeTitle Welcome to GameHub
div.welcomeContent ComeHub is the a place for you to play fun games with your friends. Right now, you can only play Black Jack. But more games are coming soon !
div.profileBtWrap
	input(type='button',value='Close',class='profileBt',id='welcomeCLoseBt')