script
	$(document).ready(function(){
		$('.friendAdd').click(function(){
			var id = $(this).attr('id');
			$.ajax({
				url: '/user/friend_request',
				data:{sender:data.user._id,receiver:id},
				type: 'POST',
				success: function(data){
				},
				error: function(jqXHR, textStatus, errorThrown) { alert(errorThrown); }
			});
		});
	});
span Search Result:
-each user in data.users
	div.friendsItem
		span.friendName.left #{user.username}
		a(type='button',class='friendAdd right',id='#{user.id}',href='#') Add Friend