script
	var profile_data = !{JSON.stringify(data)};
div.userProfileTag Edit Profile
div.userProfileImage
	div.imageName Photo
	div.imageImage
	input(class='imageButton',type='button',value='upload image')
div.profileItem
	span.itemName User Name
	input(type='text',class='userProfileName userProfileInput')
div.ProfileItem
	span.itemName Email
	input(type='text',class='userProfileEmail userProfileInput')
div.ProfileItem
	span.itemName Location
	input(type='text',class='userProfileLocation userProfileInput')