extends ../layout
block scripts
	script
		var data = !{JSON.stringify(data)};
		console.log(data);
	script(src='../../javascripts/realtime.js')
	script(src='../../javascripts/userFront.js')
	script(src='../../javascripts/roomsBoard.js')
	script(src='../../javascripts/userFriends.js')
	script(src='../../javascripts/userGames.js')
	script(src='../../javascripts/userMessages.js')
block css
	link(rel='stylesheet', href='/stylesheets/user.css')
block content
	div.topContainer
		nav
			a(href='#', class='navHome navItem') Game Hub
			a(href='#', class='navUser navItem') #{data.user.user_name}
	div.bodyContainer
		div.dashBoardContainer
			div.dashBoard
				div.profileMini
					div.userInfo 
						div.profilePic.left
						div.userName.left #{data.user.user_name}
					div.userStat
						a(class='friendsInfo left statElement',href='#') Friends #{data.friends.length} 
						a(class='gamesInfo left statElement',href='#')	games 0
						a(class='messagesInfo left statElement',href='#') Messages 
						a(class='moneyInfo left statElement',href='#') Money 100
				div.dashBoardList
					include user_friends
			div.roomsBoard
		div.playingGameList 
			div.playingGamesTag My Games