div.messagesContainer
	span.titleTag Messages:
	div.messagesList
		script 
			var message_data = !{JSON.stringify(data)};
		//- -each message in data.messager.messages
		//- 	div(class='messageItem listItem', id='#{message.id}')
		//- 		span.messageContent.left #{message.content}
		//- 		if message.status != 'accepted'
		//- 			a(class='acceptFriend left messageAction',href='#') accept
		//- 			a(class='ignoreFriend left messageAction',href='#') ignore
		//- 		else
		//- 			span(class='right messageResult') accepted