div.friendsContainer
	div.searchFriends
		form
			input(type='text', value='search for friend', class='searchBar left',id='friendsSearchBar')
			input(type='submit',class='menuButton left',value='search',id='friendSearchButton')
	div.friendsList
		span(class='left titleTag') Friends:
		-each friend in data.friends
			div(class='friendsItem listItem')
				span.friendName.left #{friend.user_name}
				a(class='friendAction right friendInvite',href='#',id='#{friend.id}') Invite