div.gamesContainer
	nav.gamesNav
		a(class='titleTag',href='#', id='showAllGames') All Games
	div.gameTypesList
		div(class='gameItem',id='blackJackGames')
			div(class='blackJackImage tagImage')
			span(class='gameName') Black Jack
		div(class='gameItem')
			div(class='renjuImage tagImage')
			span(class='gameName') Renju <br> (Coming Soon)