extends ../layout
block scripts
	script
		var data = !{JSON.stringify(data)};
	script(src='../../javascripts/realtime.js')
	script(src='../../javascripts/userFront.js')
	script(src='../../javascripts/roomsBoard.js')
	script(src='../../javascripts/userFriends.js')
	script(src='../../javascripts/userGames.js')
	script(src='../../javascripts/userMessages.js')
block css
	link(rel='stylesheet', href='/stylesheets/user.css')
block content
	div.topContainer
		image(class='zyxImage',src="../../images/zyx.png")
		nav
			a(href='#', class='navGameHub navItem') Game Hub
			a(href='#', class='navUser navItem')
		a(href='/log_out', class='navItem',id='logOutUser') Log Out
	div.bodyContainer
		div.dashBoardContainer
			div.dashBoard
				div.profileMini
					div.userInfo 
						div.profilePic.left
						div.userName.left
					div.userStat
						a(class='friendsInfo left statElement',href='#') Friends #{data.user.friends.length} 
						a(class='gamesInfo left statElement',href='#')	games 2
						a(class='messagesInfo left statElement',href='#') Messages 
						a(class='moneyInfo left statElement',href='#') Money #{data.user.money} 
						
				div.dashBoardList
					include user_games
			div.roomsBoard
		div.playingGameList 
			div.playingGamesTag My Games