a {
  color: #00b7ff;
}
.blackJackContainer {
  width: 680px;
  margin: 25px auto 10px auto;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #0699d4;
}
.blackJackContainer .gameTopBar {
  color: #fff;
  background-color: #634937;
  height: 50px;
}
.blackJackContainer .gameTopBar .gameTitle {
  left: 35px;
  top: 10px;
  position: relative;
  font-size: 25px;
  float: left;
}
.blackJackContainer .gameTopBar .moneyItem {
  margin: 0px 5px 0px 5px;
}
.blackJackContainer .gameTopBar .playerMoney {
  float: right;
  margin: 13px 10px 0px 10px;
}
.blackJackContainer .gameTopBar .playerBid {
  float: right;
  margin: 13px 10px 0px 10px;
}
.blackJackContainer .blackJackTable {
  background-image: url("/images/bj_table.png");
  background-repeat: no-repeat;
  width: 680px;
  height: 450px;
  font-family: fantasy, cursive, Serif;
}
.blackJackContainer .blackJackTable .blackJackCard {
  background-image: url("/images/cards/b1fv.png");
  background-size: 64px 86px;
  height: 86px;
  width: 64px;
  margin: auto;
  float: left;
  position: absolute;
}
.blackJackContainer .blackJackTable .blackJackHand {
  height: 96px;
  position: relative;
}
.blackJackContainer .blackJackTable .blackJackPlayer {
  width: 225px;
  height: 160px;
  float: left;
  position: relative;
}
.blackJackContainer .blackJackTable .blackJackPlayer .blackJackNameTag {
  margin: 0px 50px 0px 75px;
  top: -15px;
  position: relative;
  font-size: 23px;
  color: #fff;
}
.blackJackContainer .blackJackTable .blackJackPlayer .blackPlayerHands {
  height: 75%;
}
.blackJackContainer .blackJackTable .blackJackPlayer .blackJackCardValue {
  width: 30%;
  margin: auto;
  font-size: 20px;
}
.blackJackContainer .blackJackTable .blackJackPlayer .blackJackGameResult {
  width: 30%;
  margin: auto;
  font-size: 20px;
}
.blackJackContainer .blackJackTable .blackJackDealerContainer {
  height: 40%;
  text-align: center;
}
.blackJackContainer .blackJackTable .blackJackDealerContainer .dealer {
  left: 210px;
  top: 50px;
}
.blackJackContainer .blackJackTable .blackJackPlayerContainer {
  height: 60%;
}
.blackJackContainer .blackJackTable .blackJackPlayerContainer .currentPlayer {
  top: 55px;
  position: relative;
}
.blackJackMenu {
  overflow: auto;
  width: 100%;
  height: 120px;
  background-color: #634937;
}
.blackJackMenu .bidMenu {
  float: right;
  margin: 10px 5px 10px 5px;
  width: 230px;
}
.blackJackMenu .bidMenu .chipValue {
  margin: 10px;
}
.blackJackMenu .bidMenu .blackJackChip {
  background-color: #fff;
  float: left;
  margin: 5px 3px 5px 3px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  border-color: #fff #5e695a #fff #0699d4;
  border-style: solid;
}
.blackJackMenu .bidMenu .blackJackChip:hover:enabled {
  background-color: #4d9982;
}
.blackJackMenu .bidMenu #bj_d1 {
  background-color: #097325;
}
.blackJackMenu .bidMenu #bj_d1:hover:enabled {
  background-color: #4d9982;
}
.blackJackMenu .bidMenu #bj_d5 {
  background-color: #0464b3;
  margin-top: 20px;
}
.blackJackMenu .bidMenu #bj_d5:hover:enabled {
  background-color: #4d9982;
}
.blackJackMenu .bidMenu #bj_d10 {
  background-color: #fc2b35;
}
.blackJackMenu .bidMenu #bj_d10:hover:enabled {
  background-color: #4d9982;
}
.blackJackMenu .bidMenu #bj_d20 {
  background-color: #9c2543;
  margin-top: 20px;
}
.blackJackMenu .bidMenu #bj_d20:hover:enabled {
  background-color: #4d9982;
}
.blackJackMenu .optionMenu {
  float: left;
  margin: 10px 5px 10px 5px;
  width: 300px;
}
.blackJackMenu .optionMenu .blackJackOptionButton {
  background-color: #a9bf2c;
  border-top-color: #566633;
  border-bottom-color: #536300;
  border-left-color: #798729;
  border-right-color: #798729;
  float: left;
  margin: 5px;
}
.blackJackMenu .optionMenu .blackJackOptionButton:hover:enabled {
  background-color: #9c3;
}
