body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.blackJackContainer
	width: 680px
	margin: 25px auto 10px auto
	border-width: 10px;
	border-style: solid;
	border-radius: 10px;
	border-color: #CCCC66;
	.dealer
		margin: auto
		top: 60px
		left: 80px

	.gameTopBar
 		color: white
 		background-color:#657D98
 		height: 50px
 		.gameTitle
 			left: 55px
 			top: 10px
 			position: relative
 			font-size: 25px
 		.moneyItem
 			margin: 0px 5px 0px 5px
 		.playerMoney
 			float: right
 			margin: 13px
 		.playerBid
 			float: right
 			margin: 13px
	.blackJackTable
		background-image:url('/images/onlineblackjack.png')
		background-repeat:no-repeat;
		width: 680px
		height: 450px
		.blackJackCard
			background-image:url('/images/cards/b1fv.png')
			height: 96px
			width: 71px
			margin: auto
			float: left
			position: relative
		.blackJackHand
			height: 96px
			width: 350px
			position: relative;
		.blackJackDealer
			height: 40%
			text-align: center
		.blackJackPlayer
			height: 60%
			.blackPlayerHands
				height: 75%;
				.current
					margin: auto
					top: 70%
					left: 80px
.blackJackMenu
	overflow: auto;
	width: 100%
	height: 120px
	background-color:#657D98
	.bidMenu
		float: right
		margin: 10px 5px 10px 5px;
		width: 180px
		.blackJackBidButton
			background-color: #a9bf2c
			border-top-color: #566633
			border-bottom-color: #536300
			border-left-color: #798729
			border-right-color: #798729
			float: left
			margin: 5px;
		.blackJackBidButton:hover:enabled
			background-color: #99CC33
	.optionMenu
		float: left
		margin: 10px 5px 10px 5px;
		width: 300px
		.blackJackOptionButton
			background-color: #3288c2
			border-top-color: #2e9ce6
			border-bottom-color: #0c5078
			border-left-color: #2e6682
			border-right-color: #2e6682
			float: left
			margin: 5px;
		.blackJackOptionButton:hover:enabled
			background-color: #003399
