.topContainer {
  background-color: #50545c;
  height: 45px;
  min-width: 600px;
}
.topContainer #logInForm {
  float: right;
  margin: 10px;
  color: #fff;
}
.topContainer .logInTextField {
  color: #fff;
  font-size: 14px;
  padding: 0px 7px 0px 7px;
}
.topContainer .submitTextId {
  background-color: #34373d;
  margin: 0px 5px 0px 5px;
  border-width: 0px 0px 0px 0px;
  height: 25px;
  border-radius: 3px;
}
.topContainer .submitTextPass {
  background-color: #43464d;
  margin: 0px 5px 0px 5px;
  border-width: 0px 0px 0px 0px;
  height: 25px;
  border-radius: 3px;
}
.topContainer .submitButton {
  color: #fff;
  text-align: center;
  background-color: #85a695;
  border-radius: 3px;
  border-style: solid;
  width: 63px;
  height: 25px;
  border-width: 1px 0px 1px 0px;
  border-top-color: #93b8a5;
  border-bottom-color: #464952;
  font-size: 13px;
}
.bodyContainer .siteTitle {
  padding: 40px 0px 10px 250px;
  font-size: 25px;
  color: #fff;
  min-width: 700px;
}
.bodyContainer .signFormContainer {
  margin: 40px auto auto 250px;
  width: 500px;
  height: 300px;
  background-color: #000;
  border-style: solid;
  border-width: 3px;
  color: #fff;
  border-color: #808080;
  border-radius: 10px;
  opacity: 0.8;
  height: 325px;
}
.bodyContainer .signTable {
  font-size: 14;
  margin: 20px auto auto auto;
  border-spacing: 20px;
  border-width: 5px;
  color: #fff;
}
.bodyContainer .signText {
  background-color: #fff;
  margin: 0px 5px 0px 5px;
  padding: 0px;
  border-width: 2px;
  height: 25px;
  border-radius: 7px;
  width: 300px;
  font-size: 17px;
}
.bodyContainer .signUpButton {
  color: #fff;
  background-color: #fe800c;
  border-radius: 3px;
  border-style: solid;
  width: 150px;
  height: 40px;
  border-width: 1px 0px 1px 0px;
  border-top-color: #fa2;
  border-bottom-color: #464952;
  font-size: 13px;
  float: left;
  margin: 20px 0px 0px 20px;
}
.bodyContainer #signSpan {
  float: left;
  margin: 25px 0px 10px 20px;
  font-size: 25px;
  color: #657d98;
}
