body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}
a {
  color: #00b7ff;
}
.topContainer {
  background-color: #50545c;
  height: 45px;
  min-width: 1340px;
}
.bodyContainer {
  background-color: #8fc1d9;
  min-width: 1340px;
  min-height: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}
input:disabled {
  opacity: 0.5;
}
.gameButton {
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  width: 75px;
  height: 35px;
  border-width: 2px 1px 2px 1px;
  font-size: 13px;
}
.menuButton {
  color: #444;
  text-align: center;
  width: 75px;
  height: 23px;
  border: 1px solid #dcdcdc;
  background-color: whiteSmoke;
  border-radius: 2px;
  font-size: 12px;
}
.menuButton:hover {
  border: 1px solid #c6c6c6;
  color: #000;
}
.searchBar {
  width: 160px;
  height: 23px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
}
