body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.blackJackContainer {
  background-image: url("/images/onlineblackjack.gif");
  height: 707px;
  width: 1023px;
  position: absolute;
}
.blackJackContainer margin: 10px10px10px10px .disabled {
  disabled: disabled;
}
.blackJackContainer .blackJackCard {
  background-image: url("/images/cards/b1fv.png");
  height: 96px;
  width: 71px;
  margin: auto;
  float: left;
}
.blackJackContainer .blackJackHand {
  height: 96px;
  width: 350px;
  position: relative;
}
.blackJackContainer .dealer {
  top: 60px;
  margin: auto;
}
.blackJackContainer .blackJackDealer {
  height: 40%;
  text-align: center;
}
.blackJackContainer .blackJackDealer .bjScorerTable {
  border: 1px solid #000;
  position: relative;
  left: 45px;
  top: 54px;
  height: 150px;
  width: 100px;
}
.blackJackContainer .blackJackDealer .bjScorerTable td {
  border: 1px solid #000;
}
.blackJackContainer .blackJackPlayer {
  height: 60%;
}
.blackJackContainer .blackJackPlayer .blackPlayerHands {
  height: 65%;
}
.blackJackContainer .blackJackPlayer .blackPlayerHands .current {
  left: 35%;
  top: 180px;
}
.blackJackContainer .blackJackPlayer .blackJackMenu {
  height: 35%;
}
.blackJackContainer .blackJackPlayer .blackJackMenu .blackJackMenuElement {
  float: left;
  position: relative;
  top: 70px;
  margin: 0px 55px 0px 55px;
}
.blackJackContainer .blackJackPlayer .blackJackMenu .blackJackButton {
  width: 50px;
}
.blackJackContainer .blackJackPlayer .blackJackMenu .mainMenu {
  width: 150px;
  height: 75px;
}
.blackJackContainer .blackJackPlayer .blackJackMenu .optionMenu {
  width: 40%;
  height: 50%;
}
