body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.blackJackContainer
	background-image:url('/images/onlineblackjack.gif')
	height: 707px
	width: 1023px
	position: absolute;
	margin: 10px 10px 10px 10px
    
    .disabled
    	disabled: disabled

	.blackJackCard
		background-image:url('/images/cards/b1fv.png')
		height: 96px
		width: 71px
		margin: auto
		float: left

	.blackJackHand
		height: 96px
		width: 350px
		position: relative;

	.dealer
		top: 60px
		margin: auto

	.blackJackDealer
		height: 40%
		text-align: center
		.bjScorerTable
			border: 1px solid black
			position: relative
			left: 45px
			top: 54px
			height: 150px
			width: 100px
			td
				border:1px solid black;
	.blackJackPlayer
		height: 60%
		.blackPlayerHands
			height: 65%
			.current
				left: 35%
				top: 180px
		.blackJackMenu
			height: 35%
			.blackJackMenuElement
				float: left
				position: relative
				top: 70px
				margin: 0px 55px 0px 55px
			.blackJackButton
				width: 50px 
			.mainMenu
				width: 150px
				height: 75px
			.optionMenu
				width: 40%
				height: 50%
	


