.navItem
	float: left
	position: relative
	margin: 12px
	color: #E55D4D
	font-size: 17px
.bodyContainer
	overflow:auto
	.dashBoard
		float:left
		width: 25%
		height:100%
		background-color:gray
		min-width: 259px
		.profileMini
			height: 130px
			.userInfo
				overflow: auto
				width: 100%
				.profilePic
					background-image:url('/images/profile.png')
					float: left
					margin: 5px
					height: 60px
					width: 60px
				.userName
					float: left
					padding: 24px 5px 0px 5px
					color: white
					font-size: 18
			.userStat
				overflow: auto
				width: 100%
				font-size:14px
				.statElement
					margin: 5px
				.friendsInfo
					float: left
		.friendsContainer
			#frinedSearchBar
				float:left
				margin: 5px
			#friendSearchButton
				float:left
				margin: 5px
			.friendsItem
				overflow: hidden
				width: 100%
	.gameContent
		float: left
		overflow:auto
		width: 50%
		.gameLinkElement
			a 
				color: white
	.gameTypeList
		float:right
		width: 25%
		height:100%
		background-color:#778899