.navItem
	text-decoration: none
	float: left
	position: relative
	margin: 10px
	color: #E55D4D
	font-size: 19px
.navItem:hover
	text-decoration: underline
.bodyContainer
	overflow:auto
	.userProfileContainer
		float: left
		width: 500px
		min-height: 300px
		border-style: solid
		margin: 50px 0px 10px 100px
		background-color: white;
		.userProfileTag
			margin: 10px
			font-size: 23px
			color: #ACCF8F
		.userProfileImage
			width :300px
			min-height: 100px
			margin: 5px auto 5px auto
			.imageName
				float: left
				margin: 5px
			.imageImage
				border-radius: 10px;
				float: left
				margin: 5px
				height: 80px
				width: 70px
		.ProfileItem
			width: 300px
			margin: 10px auto 10px auto
			overflow: auto
			.itemName
				float: left
				margin: 5px
			.userProfileInput
				float: right
				display: block
				width: 210px
				height: 25px
				border-radius: 3px
				-webkit-border-radius: 3px
				box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05),0 1px 0 rgba(255, 255, 255, .075)
				padding: 4px
				background-color: white;
				border: 1px solid #CCC;
	.listItem
		border-bottom: 1px solid #CCCACA
	.dashBoardContainer
		position: relative
		float: right
		width: 20%;
		min-width: 300px;
	.dashBoard
		float: right
		width: 20%
		background-color:gray
		min-width: 300px
		min-height: 100%
		padding: 0px 5px 0px 5px
		position: relative;
		z-index: 100;
		.profileMini
			height: 120px
			.userInfo
				overflow: auto
				width: 100%
				.profilePic
					border-radius: 10px;
					float: left
					margin: 5px
					height: 80px
					width: 70px
				.userName
					float: left
					padding: 24px 5px 0px 5px
					color: white
					font-size: 18
			.userStat
				overflow: auto
				width: 100%
				font-size:15px
				.statElement
					text-decoration: none
					margin: 3px
					font-size: 14px
				.statElement:hover
					text-decoration: underline
				.friendsInfo
					float: left
		.dashBoardList
			overflow:auto
			.titleTag
				margin: 5px
				font-size: 24px
				color:#accf8f
			.friendsContainer
				overflow:auto
				.searchFriends
					float: left
					width:100%
					#friendsSearchBar
						margin: 5px
						width: 200px
					#friendSearchButton
						margin: 5px
				.friendsList
					overflow:auto
					width:100%
					.friendsItem
						overflow: hidden
						width: 98%
						.friendName
							margin: 5px
							font-size: 17px;
							color:#deae7e
						.friendAction
							font-size: 17px;
							margin: 5px
			.messagesContainer
				overflow: auto
				.messagesList
					overflow: auto
					.messageItem
						overflow: auto
						width: 98%
						.messageContent
							color:#FFFAC4
							margin: 5px
							width: 95%
						.messageAction
							margin: 5px
						.messageResult
							color: #B9F0DA
			.gamesContainer
				overflow: auto
				.titleTag
					text-decoration: none
				.titleTag:hover
					text-decoration: underline
				.gameTypesList
					overflow: auto
					.myGamesList
						margin: 5px
						.myGameItem
							margin-bottom: 10px;
							.myGameItemName
								color:#DEAE7E
								font-size: 20px
							.backToGame
								padding-top: 2px
								font-size: 15px
								text-decoration: none
							.backToGame:hover
								text-decoration: underline
					.gameItem
						overflow: auto
						margin: 15px 5px 0px 5px
						background: #bbc7c3
						height: 120px
						.tagImage
							float:left
							width: 100px
							height: 100px
							border-radius: 20px
							margin: 10px
						.blackJackImage
							background-image:url('/images/blackjacktag.png')
						.renjuImage
							background-image:url('/images/renjutag.png')
						.gameName
							float:left
							color: #E55D4D
							margin: 10px 0px 0px 15px
							font-size: 22px
					.gameItem:hover
						background: rgba(198, 211, 205, 0.5)
	.roomsBoard
		position: absolute;
		z-index: 99;
		width: 300px;
		margin-top: 150px;
		right: 0px
		.gamesList
			background-color: ebebeb
			border-radius: 8px
			overflow: auto
			.bjListButton
				position: relative
				margin: 5px
				border-top-color:#97dbfc
				border-bottom-color: #0794db
				background-color:#00A6FC
				width: 70px
			.bjListButton:hover
				background-color:#4c9ee0
			#roomsListHide
				float:right
				text-decoration: none
				margin: 10px
			#roomsListHide:hover
				text-decoration: underline;
			.quickStartBlackjack
			.newBlackjack
			.gameRoomItem
				padding: 10px
				.gameRoomName
					color:#E55D4D
					font-size: 15px
				.gameJoint
					text-decoration: none;
					font-size: 15px
				.gameJoint:hover
					text-decoration: underline;
			.gameRoomItem:hover
				background: rgba(198, 211, 205, 0.5);
			#roomsListNext
				margin: 10px
				float: right;
	.curGame
	.gameContent
		overflow:auto
		margin: 15px 5px 5px 0px
		width: 45%
		position: relative
		float: left
		z-index: 98
		min-width: 739px
	.playingGameList
		position: relative
		width: 240px
		min-height: 500px
		padding-top: 30px
		float: left
		.playingGamesTag
			font-size: 20px
			margin: 10px
			color:  #373a40
		.playingGameItem:hover
			background-color: #C0DDFF
		.playingGameItem
			margin: 15px 0px 10px 10px
			background-color: #C0DDEB
			height: 70px
			padding: 5px
			.blackJackImage
				float: left
				height:70px
				width:70px
				background-image:url('/images/blackjacktagsm.png')
			.renjuImage
				background-image:url('/images/renjutag.png')
			.blackJackText
				margin:10px
				float: left
				color: #f7404d