#logOutUser {
  float: right;
  right: 35px;
}
.buttonBlue {
  position: relative;
  margin: 5px;
  border-top-color: #97dbfc;
  border-bottom-color: #0794db;
  background-color: #00a6fc;
  width: 70px;
}
.zyxImage {
  width: 54px;
  height: 50px;
  margin: 0px 10px 0px 10px;
  float: left;
}
.navItem {
  text-decoration: none;
  float: left;
  position: relative;
  margin: 10px;
  color: #e55d4d;
  font-size: 19px;
}
.navItem:hover {
  text-decoration: underline;
}
.bodyContainer {
  overflow: auto;
}
.bodyContainer .userProfileContainer {
  float: left;
  width: 500px;
  min-height: 300px;
  border-style: solid;
  margin: 50px 0px 10px 100px;
  background-color: #fff;
}
.bodyContainer .userProfileContainer .welcomeTitle {
  text-align: center;
  font-size: 25px;
  padding: 15px;
  color: #00b7ff;
}
.bodyContainer .userProfileContainer .welcomeContent {
  padding: 35px;
  font-size: 20px;
}
.bodyContainer .userProfileContainer .profileBtWrap {
  margin: auto;
  width: 100px;
}
.bodyContainer .userProfileContainer .profileForm {
  overflow: auto;
  padding: 40px 0px 0px 0px;
}
.bodyContainer .userProfileContainer .userProfileTag {
  margin: 10px;
  font-size: 23px;
  color: #accf8f;
}
.bodyContainer .userProfileContainer .userProfileImage {
  width: 300px;
  min-height: 100px;
  margin: 5px auto 5px auto;
}
.bodyContainer .userProfileContainer .userProfileImage .imageName {
  float: left;
  margin: 5px;
}
.bodyContainer .userProfileContainer .userProfileImage .imageImage {
  border-radius: 10px;
  float: left;
  margin: 5px;
  height: 80px;
  width: 70px;
}
.bodyContainer .userProfileContainer .ProfileItem {
  width: 300px;
  margin: 10px auto 10px auto;
  overflow: auto;
}
.bodyContainer .userProfileContainer .ProfileItem .itemName {
  float: left;
  margin: 5px;
}
.bodyContainer .userProfileContainer .ProfileItem .userProfileInput {
  float: right;
  display: block;
  width: 210px;
  height: 25px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 1px 0 rgba(255,255,255,0.075);
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.bodyContainer .userProfileContainer .profileBt {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: #00a6fc;
  border-left: 0px;
  border-top: 0px;
}
.bodyContainer .listItem {
  border-bottom: 1px solid #cccaca;
}
.bodyContainer .dashBoardContainer {
  position: relative;
  float: right;
  width: 20%;
  min-width: 300px;
}
.bodyContainer .dashBoard {
  float: right;
  width: 20%;
  background-color: #808080;
  min-width: 300px;
  min-height: 100%;
  padding: 0px 5px 0px 5px;
  position: relative;
  z-index: 100;
}
.bodyContainer .dashBoard .profileMini {
  height: 120px;
}
.bodyContainer .dashBoard .profileMini .userInfo {
  overflow: auto;
  width: 100%;
}
.bodyContainer .dashBoard .profileMini .userInfo .profileText {
  float: left;
}
.bodyContainer .dashBoard .profileMini .userInfo .profilePic {
  border-radius: 10px;
  float: left;
  margin: 5px;
  height: 80px;
  width: 70px;
}
.bodyContainer .dashBoard .profileMini .userInfo .userName {
  float: left;
  padding: 24px 5px 0px 5px;
  color: #fff;
  font-size: 18;
}
.bodyContainer .dashBoard .profileMini .userInfo .userMoney {
  display: block;
}
.bodyContainer .dashBoard .profileMini .userInfo .userName:hover {
  text-decoration: underline;
}
.bodyContainer .dashBoard .profileMini .userStat {
  overflow: auto;
  width: 100%;
  font-size: 15px;
}
.bodyContainer .dashBoard .profileMini .userStat .statElement {
  text-decoration: none;
  margin: 3px;
  font-size: 14px;
}
.bodyContainer .dashBoard .profileMini .userStat .statElement:hover {
  text-decoration: underline;
}
.bodyContainer .dashBoard .profileMini .userStat .friendsInfo {
  float: left;
}
.bodyContainer .dashBoard .dashBoardList {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .titleTag {
  margin: 5px;
  font-size: 24px;
  color: #accf8f;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .searchFriends {
  float: left;
  width: 100%;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .searchFriends #friendsSearchBar {
  margin: 5px;
  width: 200px;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .searchFriends #friendSearchButton {
  margin: 5px;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .friendsList {
  overflow: auto;
  width: 100%;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .friendsList .friendsItem {
  overflow: hidden;
  width: 98%;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .friendsList .friendsItem .friendName {
  margin: 5px;
  font-size: 17px;
  color: #deae7e;
}
.bodyContainer .dashBoard .dashBoardList .friendsContainer .friendsList .friendsItem .friendAction {
  font-size: 17px;
  margin: 5px;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer .messagesList {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer .messagesList .messageItem {
  overflow: auto;
  width: 98%;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer .messagesList .messageItem .messageContent {
  color: #fffac4;
  margin: 5px;
  width: 95%;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer .messagesList .messageItem .messageAction {
  margin: 5px;
}
.bodyContainer .dashBoard .dashBoardList .messagesContainer .messagesList .messageItem .messageResult {
  color: #b9f0da;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .titleTag {
  text-decoration: none;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .titleTag:hover {
  text-decoration: underline;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList {
  overflow: auto;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .myGamesList {
  margin: 5px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .myGamesList .myGameItem {
  margin-bottom: 10px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .myGamesList .myGameItem .myGameItemName {
  color: #deae7e;
  font-size: 20px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .myGamesList .myGameItem .backToGame {
  padding-top: 2px;
  font-size: 15px;
  text-decoration: none;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .myGamesList .myGameItem .backToGame:hover {
  text-decoration: underline;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem {
  overflow: auto;
  margin: 15px 5px 0px 5px;
  background: #bbc7c3;
  height: 120px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem .tagImage {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem .blackJackImage {
  background-image: url("/images/blackjacktag.png");
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem .renjuImage {
  background-image: url("/images/renjutag.png");
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem .gameName {
  float: left;
  color: #e55d4d;
  margin: 10px 0px 0px 10px;
  font-size: 22px;
}
.bodyContainer .dashBoard .dashBoardList .gamesContainer .gameTypesList .gameItem:hover {
  background: rgba(198,211,205,0.5);
}
.bodyContainer .roomsBoard {
  position: absolute;
  z-index: 99;
  width: 300px;
  margin-top: 150px;
  right: 0px;
}
.bodyContainer .roomsBoard .gamesList {
  background-color: ebebeb;
  border-radius: 8px;
  overflow: auto;
}
.bodyContainer .roomsBoard .gamesList .gamesListContent {
  float: left;
  width: 100%;
  max-height: 400px;
  overflow: auto;
}
.bodyContainer .roomsBoard .gamesList .gameListButtons {
  width: 200px;
  float: left;
  margin: 5px;
}
.bodyContainer .roomsBoard .gamesList .bjListButton {
  height: 30px;
  width: 80px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background-color: #00a6fc;
  border-left: 0px;
  border-top: 0px;
  margin: 5px;
  padding: 0px;
  text-align: center;
}
.bodyContainer .roomsBoard .gamesList .bjListButton:hover {
  background-color: #4c9ee0;
}
.bodyContainer .roomsBoard .gamesList #roomsListHide {
  float: right;
  text-decoration: none;
  margin: 10px;
}
.bodyContainer .roomsBoard .gamesList #roomsListHide:hover {
  text-decoration: underline;
}
.bodyContainer .roomsBoard .gamesList .quickStartBlackjack,
.bodyContainer .roomsBoard .gamesList .newBlackjack,
.bodyContainer .roomsBoard .gamesList .gameRoomItem {
  padding: 10px;
}
.bodyContainer .roomsBoard .gamesList .quickStartBlackjack .gameRoomName,
.bodyContainer .roomsBoard .gamesList .newBlackjack .gameRoomName,
.bodyContainer .roomsBoard .gamesList .gameRoomItem .gameRoomName {
  color: #e55d4d;
  font-size: 15px;
}
.bodyContainer .roomsBoard .gamesList .quickStartBlackjack .gameJoint,
.bodyContainer .roomsBoard .gamesList .newBlackjack .gameJoint,
.bodyContainer .roomsBoard .gamesList .gameRoomItem .gameJoint {
  text-decoration: none;
  font-size: 15px;
}
.bodyContainer .roomsBoard .gamesList .quickStartBlackjack .gameJoint:hover,
.bodyContainer .roomsBoard .gamesList .newBlackjack .gameJoint:hover,
.bodyContainer .roomsBoard .gamesList .gameRoomItem .gameJoint:hover {
  text-decoration: underline;
}
.bodyContainer .roomsBoard .gamesList .gameRoomItem:hover {
  background: rgba(198,211,205,0.5);
}
.bodyContainer .roomsBoard .gamesList #roomsListNext {
  margin: 10px;
  float: right;
}
.bodyContainer .curGame,
.bodyContainer .gameContent {
  overflow: auto;
  margin: 15px 5px 5px 0px;
  width: 45%;
  position: relative;
  float: left;
  z-index: 98;
  min-width: 739px;
}
.bodyContainer .playingGameList {
  position: relative;
  width: 240px;
  min-height: 500px;
  padding-top: 30px;
  float: left;
}
.bodyContainer .playingGameList .playingGamesTag {
  font-size: 20px;
  margin: 10px;
  color: #373a40;
}
.bodyContainer .playingGameList .playingGameItem:hover {
  background-color: #fcc244;
}
.bodyContainer .playingGameList .playingGameItem {
  margin: 15px 0px 10px 10px;
  background-color: #ffe375;
  height: 70px;
  padding: 5px;
}
.bodyContainer .playingGameList .playingGameItem .blackJackImage {
  float: left;
  height: 70px;
  width: 70px;
  background-image: url("/images/blackjacktagsm.png");
}
.bodyContainer .playingGameList .playingGameItem .renjuImage {
  background-image: url("/images/renjutag.png");
}
.bodyContainer .playingGameList .playingGameItem .blackJackText {
  margin: 10px 5px 5px 10px;
  float: left;
  color: #f7404d;
  max-width: 135px;
}
